$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-angle-left: "\e900";
$icon-angle-right: "\e901";
$icon-css3-alt: "\e902";
$icon-dev: "\e903";
$icon-github-square: "\e904";
$icon-git-square: "\e905";
$icon-html5: "\e906";
$icon-joomla: "\e907";
$icon-js: "\e908";
$icon-less: "\e909";
$icon-microsoft: "\e90a";
$icon-node: "\e90b";
$icon-npm: "\e90c";
$icon-odnoklassniki-square: "\e90d";
$icon-angle-down: "\e90e";
$icon-twitter1: "\e918";
$icon-facebook-f1: "\e919";
$icon-folder-plus1: "\e91a";
$icon-heart-b1: "\e91b";
$icon-instagram1: "\e91c";
$icon-search: "\e90f";
$icon-twitter: "\e910";
$icon-facebook-f: "\e911";
$icon-folder-plus: "\e912";
$icon-heart-b: "\e913";
$icon-instagram: "\e914";
$icon-times: "\e915";
$icon-heart: "\e917";
$icon-file-image: "\e91d";
$icon-sack: "\e91e";
$icon-bullseye-arrow: "\e91f";
$icon-bank-cart-black: "\e920";
$icon-bank-cart-white: "\e921";
$icon-check: "\e922";
$icon-code: "\e923";
$icon-envelope-open-text: "\e924";
$icon-laptop-code: "\e925";
$icon-github: "\e926";
$icon-facebook: "\e927";
$icon-vk: "\e928";
$icon-behance: "\e929";
$icon-dribbble: "\e92a";
