$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-github: "\e90b";
$icon-facebook: "\e90c";
$icon-vk: "\e90d";
$icon-behance: "\e90e";
$icon-dribbble: "\e90f";
$icon-times: "\e90a";
$icon-heart: "\e907";
$icon-file-image: "\e908";
$icon-sack: "\e909";
$icon-bullseye-arrow: "\e900";
$icon-bank-cart-black: "\e901";
$icon-bank-cart-white: "\e902";
$icon-check: "\e903";
$icon-code: "\e904";
$icon-envelope-open-text: "\e905";
$icon-laptop-code: "\e906";