.header {
	height: 100vh;
	background: url("../img/bg-header.png") right top no-repeat;
	background-size: cover;
	.nav-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		min-height: 100px;
		padding-top: 26px;
		padding-bottom: 26px;
	}
	.header__wrapper {
	}
}

.nav__logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	svg {
		width: 38px;
		height: 38px;
		padding: 8px;
		background-color: #ff6e30;
		border-radius: 8px;
		margin-right: 12px;
	}
}
.nav__menu {
	width: 450px;
	a {
		display: inline-block;
		color: rgba(255, 255, 255, 0.55);
		font-size: 16px;
		transition: color 300ms ease-in-out;
	}
	li {
		&:hover a {
			color: #fff;
			transition: color 300ms ease-in-out;
		}
	}
}
.menu__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.nav__login {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.login {
}
.login__label {
	font-size: 16px;
	margin-right: 40px;
	a {
		color: rgba(255, 255, 255, 0.55);
		transition: color 300ms ease-in-out;
	}
	&:hover a {
		color: #fff;
		transition: color 300ms ease-in-out;
	}
}
.login__btn {
	width: 118px;
	height: 48px;
	background-color: #ff6e30;
	outline: none;
	border: none;
	border-radius: 8px;
}
