.container {
	margin: 0 auto;
	padding: 0 15px;
	// max-width: 1200px;
}

@media (min-width: 575.98px) {
	.container {
		padding: 0 calc(50% - 270px);
	}
}

@media (min-width: 767.98px) {
	.container {
		padding: 0 calc(50% - 360px);
	}
}

@media (min-width: 991.98px) {
	.container {
		padding: 0 calc(50% - 480px);
	}
}

@media (min-width: 1199.98px) {
	.container {
		padding: 0 calc(50% - 590px);
	}
}
.navigation {
	display: flex;
	flex-flow: row wrap;
	/* Это выравнивает элементы по правому краю вдоль основной оси */
	justify-content: flex-end;
}
@media (max-width: 800px) {
	.navigation {
		/* На средних экранах мы выравниваем меню по центру за счет равномерного распределения доступного пространства между элементами */
		justify-content: space-around;
	}
}
@media (max-width: 500px) {
	.navigation {
		flex-wrap: wrap;
		/* На маленьких экранах мы меняем направление основной оси с горизонтального (строка) на вертикальное (колонка) */
		flex-direction: column;
	}
}
